<p>
  <mat-toolbar color="primary">
    <span>ExcangeOk</span>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with account-circle icon"
      (click)="navigateToUpload()"
    >
      <mat-icon>cloud_upload</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with account-circle icon"
      (click)="navigateToExchange()"
    >
      <mat-icon>sync</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with account-circle icon"
      (click)="navigateToDiscuss()"
    >
      <mat-icon>question_answer</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
      class="example-icon"
      aria-label="Example icon-button with account-circle icon"
    >
      <mat-icon style="font-size: 40px">account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled>
        <mat-icon>face</mat-icon>
        <span>{{ (user$ | async)?.firstName }}</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Not implemented</span>
      </button>
      <button mat-menu-item (click)="SignOut()">
        <mat-icon>login</mat-icon>
        <span>Sign out</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</p>
