<div *ngIf="!(selectedCategory$|async)">
  <mat-nav-list *ngFor="let item of (category$|async)">
    <a mat-list-item (click)="SelectCategory(item)">
      <span mat-line>{{item?.category}}</span>
    </a>
  </mat-nav-list>
</div>
<div *ngIf="(selectedCategory$|async)">
  <mat-google-maps-autocomplete
    [appearance]="appearance.OUTLINE"
    (onAutocompleteSelected)="onAutocompleteSelected($event)"
    (onLocationSelected)="onLocationSelected($event)"
  >
  </mat-google-maps-autocomplete>
</div>
