<h2 mat-dialog-title>Create offer discuss</h2>

<mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Course Description</mat-label>
    <textarea
      matInput
      placeholder="Course Description"
      formControlName="description"
    ></textarea>
  </mat-form-field>
  <br />

  <picture>
    <source
      media="(min-width:0px)"
      srcset="https://material.angular.io/assets/img/examples/shiba2.jpg"
    />
    <img mat-card-image src="" alt="Photo of a Shiba Inu" />
  </picture>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="Close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="Save()">Save</button>
</mat-dialog-actions>
