<h2 mat-dialog-title>Create offer discuss</h2>

<mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Course Description</mat-label>
    <textarea matInput placeholder="Course Description"></textarea>
    <!-- formControlName="description" -->
  </mat-form-field>
  <br />

  <div layout-margin layout-padding>
    <!-- <input class="ng-hide" id="input-file-id" multiple type="file" />
    <label
      for="input-file-id"
      class="mat-button mat-raised mat-primary"
    ></label> -->
    <button mat-button color="primary" (click)="Upload()">
      <mat-icon>file_upload</mat-icon>
      Upload image
    </button>
    <br />
    <input
      type="file"
      id="fileUpload"
      name="fileUpload"
      multiple="multiple"
      accept="{{accept}}"
      style="display: none"
    />
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="Close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="Save()">Save</button>
</mat-dialog-actions>
